
h1{
    text-align: center;
    padding-top: 40px;
    color: rgb(155, 232, 41);
    font-size: 50px;
}
h2{
    cursor: pointer;
    color: green;
    margin-left: 150px;
    margin-top: 30px;
}
.tt .rol h4{
    cursor: pointer;
    color: green;
    font-size: 60px;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 30px;
}

pre{
    text-align: center;
    padding: 10px 0px;
    color: rgb(142, 188, 77);
}
.sanpham1{
    display: flex;
    padding: 0px 100px;
    gap: 30px;
    grid-template-columns: repeat(400px , 900px) ;
    margin-top: 30px;
}
.text marquee
{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.sanpham1 img{
width: 400px;
height: 600px;
transition: 0.5 ease;
}
.sanpham1 img:hover
{
    transform: scale(1.2);
}
.sanpham2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}
.sanpham3{
    text-align: center;
}
.sanpham1 img{
    cursor: pointer;
}
.sanpham2 img{
    cursor: pointer;
}
.sanpham3 img{
    cursor: pointer;
}
.anh1 p{
    padding-bottom: 40px;
}
.col .tong 
{
    display: flex;
}

.splq 
{
    grid-template-columns: repeat(400px, 400px , 400px);
    gap: 30px;
    display: flex;
    padding: 20px 150px;
}

.anhkhac 
{
    width: 400px;
    height: 700px;
}
.anhkhac img{
    width: 300px;
    height: 400px;
    border: 5px solid rgb(115, 224, 140);
    box-shadow: 5px 5px 5px rgba(71, 223, 132, 0.6);
    border-radius: 20px;
}
.anhkhac h4{
    margin-left: 30px;
    margin-top: 10px;
}
.anhkhac p{
    margin-left: 5px;
}

.button1 button ,
.button2 button
{
    width: 200px;
    height: 60px;
    background-color: rgb(51, 175, 74);
    color: white;
    border-radius: 20px;
    margin-left: 20px;
    border: none;
}
.button1,
.button2:hover
{
    background: linear-gradient(to bottom, rgb(51, 175, 74));
}
.col .tong
{
    margin-left: 100px;
    margin-top: 10px;
}