*{
    padding: 0px;
    margin: 0px;
}
.wrapper{
   width: 1400px;
    margin: 0 auto;
}
.header{
    height: 120px;
    width: 120px;
    background: white;
}
.header:hover img{
    transition: 3s ease-in-out;
    transform: rotate(3turn);
}
.text marquee
{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.header img{
   height: 100px;
   padding-left: 20px;
   margin-left: 500px;
}
.nav{
    position: relative;
    background-color: green;
    display: flex;
    height: 60px;
    justify-content: space-between; 
    align-items: center; 
    padding: 5px 5px 5px 20px ;
    border-radius: 10px;
}

.menu li a{
    color: white;
    text-decoration: none;
    line-height: 52px;
    margin: 0px 15px;
    font-family: roboto;
    line-height: 40px;
    font-size: 20px;
}
.menu li{
    display: inline-block;
    text-transform: uppercase;
}
.nav ul li:hover{
  background: rgb(142, 227, 131);
  border-radius: 10px;
}
.nav ul li a:hover{
    color: red;
}
.nav ul li{
    float: left;
    padding: 0 10px;
}
.dktk{
    position: absolute;
    right: 20px;
    top: 5px;
   
}
.giohang{
 position: absolute;
 right: 70px;
 bottom: 0px;
}
.dktk button{
    padding: 2px;
}
.dktk button a {
    text-decoration: none;
}
.tk {
    position: absolute;
    right: 250px; 
}
.tksp{
    font-size: 14px;
}
.giohang img{
    cursor: pointer;
    height: 25px;
}
.nav .tk input{
    padding: 7px 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(13, 205, 93);
    color: #ffffff;
}
.banner{
    height: 400px;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
marquee{
    padding-top: 10px;
}
::placeholder {
    color: #eae4e4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    
}
h3{
    font-size: 18px;
    padding: 10px 15px;
    background: rgb(89, 89, 112);
    text-shadow: 0px 0px 5px green;
    color: white;
}
.aside ul{
    list-style: none;
 
}
.aside ul li{
    padding: 10px 15px;
    border-top: 1px solid greenyellow;
    text-decoration: none;
}
.aside ul li a{
    text-decoration: none;
    color: orangered;
}
.aside ul li a:hover{
    color: white;
}
.aside ul li:hover{
background: rebeccapurple;
}

h2{
    text-align: center;
}
.textt{
    padding: 10px 0px 20px 0px;
    font-size: 25px;
    color: rgb(136, 206, 31);
}
article{
    width: 74%;
    background-color: white;
     min-height: 400px;
    float: right;
}
.aside{
    min-height: 400px;
    width: 26%;
    background-color: lightgray;
    float: left;
}

.form-group{
    margin: 10px 1px;
}
.form-control{
   margin: 3px 0px;
   box-shadow: 0px 0px 3px green;
   outline: none;
   border: none;
   padding: 5px;
   width: 200px;
   border-radius: 3px;
   display: block;
}
.lienhe{
    width: 550px;
    height: 60px;
}
.fanpage{
  position: relative;
}
.sao{
    position: absolute;
    left: 180px;
    top: 0px;
}
.footer{
    height: 100px;
    width: 100%;
    clear: both;
    background: rgb(178, 170, 163);
    color: rgb(4, 53, 4);
}
.footer  {
    position: relative;
    display: grid;
    grid-template-columns:  20% 20% 20%;
    grid-gap: 10px;
    padding: 20px 0px;
    background-color: green;
}

.footer a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
}
.logo2{
    position: absolute;
    left: 850px;
    top: 16px;
}
.logo2 img{
    cursor: pointer;
}
.logo2:hover img{
    transition: 2s ease-in-out;
    transform: rotate(3turn);
}
.nut{
    position: absolute;
    right: 64px;
    top:15px;
}
.nut button{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.icons{
    padding-top: 20px;
    position: absolute;
    right: 25px;
    bottom: 10px;   
    cursor: pointer;
}
.fa-square-facebook{
    font-size: 50px;
}
.fa-square-youtube{
    font-size: 50px;
}
.fa-square-twitter{
    font-size: 50px;
}
.fa-square-instagram{
    font-size: 50px;
}
.fa-brands{
    margin:0px 10px;
}
.item a:hover{
    color: red;
}
.xemtt button{
    cursor: pointer;
}

.nut button {
    font-family: titleFont;
    font-size: 20px;
    padding: 10px 10px;
    border: none;
    background: linear-gradient(to top right, yellow, #0065c3, #d61212);
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
}

.nut button:hover {
    background: linear-gradient(to top left, yellow, #0065c3, #d61212);
}

.anhbn img{
    height: 400px; 
    width: 700px;
    padding-left: 60px;
}

.banner3{
    display: flex;
    text-align: center;
    background-color: rgb(82, 145, 82);
}
.sanphambn{
    padding-top: 90px;
    width: 400px;
    padding-left: 170px;
    color: #ffffff;
}
.sanphambn button{
    border: 2px solid white;
    padding: 7px;
    margin: 10px;
    border-radius: 15px;
    color: #ffffff;
    background-color:rgb(82, 145, 82) ;
    font-size: 20px;
}
.sanphambn button:hover{
    background: linear-gradient(to top left, rgb(240, 217, 207), #afbecc, #c8a9a9);
    color: rgb(82, 145, 82);
}
.banner4{
    display: flex;
    padding: 20px 0px;
}
.sanphambn1 p{
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 20px;
}
.sanphambn1{
    padding-top: 90px;
    width: 600px;
}
.sanphambn1 a{
    font-size: 50px;  
}
.sanphambn1 a:hover{
    color: rgb(39, 208, 23);
}
.sanphambn1 h4{
    text-align: center;
}
.sanphambn1 h1{
    text-align: center;
    color: green;
}
.sanphambn1 span{
    font-size: 28px;
}
.anhbn1{
    padding-left: 100px;
}
.so3{
    position: absolute;
    right: 60px;
    top: 7px;
}
.fa-3{
    color: rgb(245, 213, 7)
}
.so3{
    animation: flip 1.5s linear infinite;
    transition: transform auto;
    position: relative;
    transform-style: preserve-3d;
}
@keyframes flip {
    30%, 70% {
      transform: rotateY(0);
    }
    45%, 55% {
      transform: rotateY(180deg);
    }
  }

  
.banner{
    width:1400px ;
    height: 400px; 
    overflow: hidden;
}
.wrapper1{
    display: flex;
    animation: slide 9s infinite;
    animation-delay: 0s;
}
.wrapper1 img{
    width: 1400px;
}
@keyframes slide{
   0%{
    transform: translateX(0);
   }
   25%{
    transform: translateX(0);
   }
   30%{
    transform: translateX(-100%);
   }
   50%{
    transform: translateX(-100%);
   }
   55%{
    transform: translateX(-200%);
   }
   75%{
    transform: translateX(-200%);
   }
   80%{
    transform: translateX(-300%);
   }
   100%{
    transform: translateX(-300%);
   }
}
.icon2{
position: fixed;
height: 200px;
width: 50px;
background-color: #35fa03;
border-radius: 10px;
margin-left: 1405px;
margin-top: 240px;
}
.fa-phone{
    cursor: pointer;
    padding:20px 10px 30px 10px;
    font-size: 30px;
}
.fa-instagram{
    cursor: pointer;
    padding: 10px 0px 30px 1px;
    font-size: 30px;
}
.fa-facebook{
    cursor: pointer;
    font-size: 30px;
}
